
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#ffffffa5;
    color: black;

}
.btn{
    color: white;
   padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: blueviolet;
}
h3{
    font-size: 3rem;
    color: blue;


}
.btn:hover{
    background-color: purple;

}
 a:link{ 
    text-decoration:none;
    Color:rgba(68, 0, 255, 0.322);
}
header{
    display:flex;
    align-items: center;
    padding:15px 7%;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
}

header .logo{
    font-size: 18px;
    color: red;

}
header .menu nav{
    display:flex;
    gap: 20px;
}
header .buttons{
    display:flex;
    gap:30px
}
 .main{
    padding:30px 7%;

} 
.info{
    display :flex;
}
info .content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: self-start;

}
main section{
    padding:60px 0;

}
 footer{
    padding: 30px 7%;
    background-color: black;
    color:white;
} 
.serviceGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  .serviceGrid > div {
    padding: 30px;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    border: 1px dotted rgba(128, 0, 128, 0.336);
  }
  
  .serviceGrid > div:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  }